.footer {
    padding: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    color: white;
    text-align: center;
}